.container {
  display: flex;
}

.content {
  margin: 0 auto;
  padding: 0 32px;
  min-width: 500px;
}

.subtitle {
  color: var(--color-graphite);
  margin: 16px 0;
}

.doneIcon {
  color: var(--color-ink);
}

.downloadButton {
  font-size: 8px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0;
  display: flex;
  margin: 16px auto;
}

.warn {
  display: flex;
  align-items: center;
  background: rgba(var(--rgb-dark-tangerine), 0.2);
  border-radius: 8px;
  padding: 16px;
  margin: 0 0 32px;
}

.warnIcon {
  color: var(--color-turmeric);
}

.warn p {
  margin: 0 16px;
}

.closeWarnButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: transparent;
  color: var(--color-ink);
  padding: 0;
  border: none;
  align-self: flex-start;
  margin-left: auto;
}

.buttonsWrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 32px;
}

.buttonsWrap a {
  flex-basis: 100%;
}

.buttonsWrap a + a {
  margin-left: 16px;
}

.timeRemaining {
  margin-top: 16px;
  text-align: right;
  color: var(--color-saffron);
}

.timeRemaining svg {
  vertical-align: middle;
  margin-right: 8px;
}

.amount {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  line-height: 48px;
}

.amount strong {
  font-weight: 500;
}
