.container {
  display: flex;
  align-items: flex-start;
}

.inner {
  margin: 0 auto;
  max-width: 438px;
  width: 100%;
}

.depositCard {
  margin-bottom: 37px;
}

.subTitle {
  margin-bottom: 16px;
  color: var(--color-graphite);
  letter-spacing: 0;
  display: block;
}

.buttonsWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.button {
  min-width: 180px;
}

.button + .button {
  margin-top: 16px;
}
