.page {
  padding: 32px;
  min-height: 100%;
  position: relative;
}

.heading {
  margin-bottom: 32px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.block {
}

.blockTitle {
  color: var(--color-graphite);
  letter-spacing: 0;
  margin: 0 0 32px
}

.buttonsWrap {
  margin-top: 48px;
  display: flex;
}

.button {
  flex-grow: 1;
}

.button + .button {
  margin-left: 16px;
}
