.header {
  display: flex;
  align-items: center;
  padding: 32px;
  grid-area: header;
  background: var(--color-parchment);
  position: sticky;
  top: 0;
  z-index: 1;
}

.heading {
  margin: 0;
}

.heading a {
  display: flex;
  color: inherit;
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.network {
  font-size: 12px;
  line-height: 15px;
  color: var(--color-graphite);
  display: flex;
  align-items: center;
}

.network svg {
  margin-right: 4px;
}
