.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.heading {
  display: flex;
  align-items: center;
  padding: 32px 64px;
}

.title {
  margin-right: 72px;
}

.headerIcon {
  margin-left: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  height: 100%;
}

.container > div {
  padding: 32px 64px;
  flex-basis: 27%;
}

.container > div:nth-child(2) {
  flex-basis: 46%;
  border-left: 1px solid var(--color-parchment);
  border-right: 1px solid var(--color-parchment);
  display: flex;
  flex-direction: column;
}

.blockTitle {
  color: var(--color-graphite);
  letter-spacing: 0;
  margin: 0 0 32px
}

.walletAsset {
  padding: 36px 0;
}

.walletAsset:first-of-type {
  padding-top: 0;
}

.walletAsset + .walletAsset {
  border-top: 1px solid var(--color-parchment);
}

.walletAsset > div:nth-child(2) {
  color: var(--color-graphite);
  letter-spacing: 0;
}

.button {
  margin: 108px auto 16px;
  min-width: 158px;
}
